<div class="hero-unit">
<h1>Welcome to Fidelise.me!</h1>

<p>

	A new startup
<%= link_to "Fidelise.me", "http://www.fidelise.me"%> application.
</p>

<p>
	<%= link_to "Sign Up Now!", new_user_registration_path, class:"btn btn-primary btn-large" %>

</p>
</div>

 